name: CMake Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build

    - name: Build
      run: cmake --build ${{github.workspace}}/build

    - name: Run Complex Number Tests
      working-directory: ${{github.workspace}}/build
      run: ./num_tests

    - name: Run Matrix & Linear Algebra Tests
      working-directory: ${{github.workspace}}/build
      run: ./gal_tests
